//
// Misc. Variables
// --------------------------------------------------

@min-width: 1000px;
@context-bar-height: 60px;
@general-margin: 20px;
@fontAwesome: FontAwesome;
@font-apigee-icons: apigee-icons;

//
// Bootstrap Overrides
// --------------------------------------------------

@btn-default-bg-hover: @color-ghost;
@border-radius-base: 0;
@input-border-radius: 0;
@input-border-radius-small: 0;
@input-border-radius-large: 0;
@btn-border-radius-small: 0;
@table-border-color: @color-earl-grey;
@tooltip-bg: @color-text-hover;