.app-view {
  .context-bar {
    height: @context-bar-height;
    min-width: @min-width;
    width: 100%;
    z-index: 3;
    background-color: @color-white;
    border-bottom-color: @color-earl-grey;

    &-breadcrumb {
      margin: 15px 0px 0px 30px;
      font-size: 18px;
      font-weight: 300;
      display: inline-block;
      color: @color-steel;

      &> .glyphicon-file {
        margin-right: 5px;
      }

      &> .breadcrumb-parent {
        margin-right: 5px;
      }

      &> .breadcrumb-current {
        margin-left: 5px;
        color: @color-cobalt;
      }
    }

    &-actions {
      float: right;
      display: block;
      margin: 10px 20px 0 0;
      button {
        border-radius: 0;
        border: 1px solid;
        position: relative;
        border-color: @color-piston;
        background-color: @color-white;

        .glyphicon {
          font-size: 10px;
          top: 0;
        }
        &:hover {
          background-color: @color-smoke;
        }
        &.btn-disabled {
          cursor: default;
          color: @color-cobalt;
          background-color: @color-ghost;
        }
      }
      .btn-disabled {
        cursor: default;
        color: @color-cobalt;
        background-color: @color-ghost;
      }
    }
  }

  .context-bar-buffer {
    display: inline-block;
    margin-bottom: 52px;
    width: 100%;
  }

  .tooltip-fake {
    position: absolute;
    width: 106px;
    height: 34px;
    top: 0;
    left: 0;
  }
}